# Policy: Support redirects for at least one year.

# Added 2015-03-20
REDIRECT 301 /gitweb                     https://git.tasktools.org/projects
REDIRECT 301 /piwik                      http://see.tasktools.org/piwik
REDIRECT 301 /tinderbox                  https://central.tasktools.org

# Added 2015-04-05
REDIRECT 301 /rfcs/gitweb                http://taskwarrior.org/docs/design/index.html

# Added 2015-04-11
REDIRECT 301 /admin                      /index.html
REDIRECT 301 /public                     /index.html
REDIRECT 301 /sites                      /index.html
REDIRECT 301 /includes                   /index.html

# Added 2015-04-21
REDIRECT 301 /assets                     /bootstrap

# Added 2015-05-23
REDIRECT 301 /performance                /projects/performance.html

# Added 2015-09-20
REDIRECT 301 /projects/kronisk.html      /index.html
