.PageTitle       {font: 700 20px Arial,Helvetica;}

.Text            {font: 100 13px Arial,Helvetica;
                  background-color:white}

.Header          {font: 700 13px Arial,Helvetica;
                  background-color:white}

DIV.error        {font: 500 9pt Courier New;
                  padding-left:4px;
                  background-color:#000000;
                  color:#ffffff}

.Example         {font: 500 10pt Courier New;
                  color:#0000ff}

.SmallText       {font: 100 11px Arial,Helvetica}

.SmallTextHeader {font: 700 12px Arial,Helvetica}

#issue           {font: 100 11px Arial,Helvetica;
                  padding-left:16px;
                  background-color:#ffffaa;
                  border-style:solid;
                  border-width:1px;
                  border-color:#808070}

#highlight       {background-color:#ffff80}

BODY             {background-color: white;
                  color: black;
                  font: 100 13px Arial,Helvetica}

